@model Online_Selling_SIte.Models.Product

@{
    ViewData["Title"] = "ViewProductDetail";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>ViewProductDetail</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Qnt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Qnt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Saleprice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Saleprice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Discription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Discription)
        </dd>
    </dl>
</div>
<div>
</div>
