@model IEnumerable<Online_Selling_SIte.Models.CommanCart>
@{
    @using Microsoft.AspNetCore.Http;
    if (Context.Session.GetString("UserName") == null)
    {
        Context.Response.Redirect("/UserLogin/Index");
    }
    ViewData["Title"] = "MyCart";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="hero-wrap hero-bread" style="background-image: url('/Content/UserContent/images/bg_6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">My Cart</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr class="text-center">
                                    <td class="product-remove"><a href="/Cart/RemoveCart/@Html.DisplayFor(modelItem => item.CartId)" title="Remove Cart"><span class="ion-ios-close"></span></a></td>

                                    <td class="image-prod"><img src="~/ProductImages/@item.Image" class="img" /></td>

                                    <td class="product-name">
                                        <h3> @Html.DisplayFor(modelItem => item.Name)</h3>
                                        <p>@Html.DisplayFor(modelItem => item.discription)</p>
                                    </td>
                                    <td class="price"><p>@Html.DisplayFor(modelItem => item.saleprice)</p></td>
                                    <td class="quantity">
                                        <div class="input-group mb-3">
                                            <input disabled="disabled" name="quantity" class=" form-control " value="@Html.DisplayFor(modelItem => item.Qnt)">
                                        </div>
                                    </td>

                                    <td class="total"><p>@Html.DisplayFor(modelItem => item.total)</p></td>
                                </tr><!-- END TR-->
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>


        <form>
            @if (ViewBag.GrandTotal != 0)
            {
                <div class="row justify-content-center">
                    <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">

                        <div class="cart-total mb-3">
                            <h3>Cart Totals</h3>
                            <p class="d-flex">
                                <span>Subtotal</span>
                                <span>@ViewBag.GrandTotal</span>
                            </p>
                            @*<p class="d-flex">
                                    <span>Delivery</span>
                                    <span>0.00</span>
                                </p>
                                <p class="d-flex">
                                    <span>Discount</span>
                                    <span>0.00</span>
                                </p>*@
                            <hr>
                            <p class="d-flex total-price">
                                <span>Total</span>
                                <span>@ViewBag.GrandTotal</span>
                            </p>
                        </div>

                        <p class="text-center"><a href="/Order/ProceedOrder" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>



                    </div>
                </div>
            }
            else
            {
                <center> <h3 class="mb-0 bread">Your Cart is Empty!!</h3></center>
            }

        </form>

    </div>

    }
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
        $(document).ready(function () {
            $.alert({
                title: 'Alert!',
                content: @ViewBag.Message,
            });
        })
        </script>

    }
</section>


